body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  width: 100%; /* Ajusta a largura do container para ocupar toda a largura da tela */
  margin: 0 auto;
}

.seating-chart-wrapper {
  display: flex;
  justify-content: center;
  width: 100%; /* Ajusta a largura do wrapper do mapa de assentos para ocupar toda a largura da tela */
  margin: 0 auto;
  border: 2px solid #686666;
  overflow: auto;
}

.seating-chart {
  display: grid;
  grid-template-columns: repeat(54, 1fr);
  gap: 0.2vw; /* Usa vw para o espaço entre os assentos */
}


.seat {
  width: 1.2vw; /* Usa vw para a largura do assento */
  height: 1.2vw; /* Usa vw para a altura do assento */
  background-color: #f16c75;
  border-radius: 50%;
  border: 2px solid #eb202e;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 0px #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4em;
  color: #ffffff;
  overflow: auto;
}

.seat:hover {
  box-shadow: 0 0 10px #ff0000;
}

.seat.selected {
  background-color: #eb202e;
}
